@import "tailwindcss";

@theme inline {
  --font-display: var(--font-playfair-display);
  --font-body: var(--font-inter);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-display);
}

p {
  @apply leading-relaxed;
}

@layer components {
  .tiny {
    @apply text-xs uppercase tracking-widest;
  }
}
